%section.enterprise-edition
  .container
    .row.flex-row.text-center
      .col-md-8.col-md-offset-2
        %h3.sub-heading
          Try GitLab Enterprise Edition free for 30 days.
        %p 
          %a{href: "/gitlab-ee/"} GitLab Enterprise Edition
          is built on the open core of GitLab Community Edition to include additional authentication, user management, and workflow features designed for larger development teams.
        %p
          %strong No credit card required.

        %a.btn.cta-btn.accent{href: "/free-trial/"}
          Start your free trial
        %a.btn.cta-btn.ghost-accent{href: "/eep-demo/"}
          Join a live demo
