---
layout: job_page
title: "Product Marketing Manager: Partner and Channel Specialist"
---

As the Product Marketing Manager: Partner and Channel Specialist, you will work with our marketing, business development and sales teams, to develop and execute global go-to-market strategies and programs to drive customer acquisition and revenue growth for GitLab. Reporting to the Director, Product Marketing, you will have a global charter to enable partners and resellers within our growing partner and channel ecosystems. In addition, you’ll be responsible for crafting and implementing co-marketing campaigns targeting developers and IT professionals, to increase awareness and adoption of GitLab. You will work to shape go-to-market messaging and strategy for new offerings with partners and work with partners and resellers to build an effective and scalable ecosystem.

## Responsibilities

Channel marketing:
* Develop our worldwide channel marketing strategy, and train the field marketing team on regional execution that maximizes our reach and scale with channel partners.
* Implement channel marketing initiatives, programs, communication vehicles, and sales tools to drive increased market adoption and channel revenue goals.
* Spearhead enablement activity with resellers to drive end-user adoption, and manage MDF program.
* Assist sales team in the development of actionable and measurable programs for our channel partners.
* Work with field marketing to execute channel marketing programs, regionally.
* Accurately track activity performance and provide well-informed recommendations on future resource and budget allocation.
* Assist in the preparation of reports to help evaluate activity and reseller effectiveness, conversion rate, and relative performance.
* Market to, and through our channel. Ensure prospective resellers understand the value of partnering with GitLab.
* Complete other duties as assigned to meet company channel goals.

Partner marketing:
* Initiate and develop co-marketing initiatives to execute in tandem with our partners.
* Market the benefit of our technology partnerships to all GitLab prospects.
* Develop and execute marketing programs when announcing new technology partnerships.
* Develop sales enablement programs for new partnerships, training the sales team on added functionality and associated benefits.
* Develop an ROI performance analysis for partner marketing initiatives and utilize findings to tailor future initiatives.
* Develop outreach plan for existing partnerships maintaining a steady development of joint content and demand generation activities.
* Create partnership positioning program for a cloud native approach and associated ecosystem.


## Requirements

* Expertise in co-marketing with channel or partner organizations.
* Able to build strong relationships with partners globally.
* Able to coordinate across many teams and perform in fast-moving startup environment.
* Proven ability to be self-directed and work with minimal supervision.
* Technical background or good understanding of developer products; familiarity with Git, Continuous Integration, Containers, and Kubernetes a plus.
* Experience with Software-as-a-Service offerings and open core software a plus.
* Outstanding written and verbal communications skills with the ability to explain and translate complex technology concepts into simple and intuitive communications.
* Uses data to measure results and inform decision making and strategy development.
* You share our [values](https://about.gitlab.com/handbook/values), and work in accordance with those values.


<%= partial "includes/apply_and_about" %>