---
layout: job_page
title: "People Operations Administrator"
---

{: .text-center}
<br>

This role reports to the Chief Culture Officer and works daily to support the recruiting team.

## Responsibilities

* Responsible for the day to day administration of tasks leading up to and resulting from employment decisions and providing support to Global Recruiters
* Create and maintain position and applicant information in the applicant tracking system (ATS), experience using Lever is a plus
* Assist new and prospective team members with pre and post employment inquiries
* Maintain and update all job postings on our jobs page and external service providers sites
* Coordinate interview schedules for the recruiting team and managers
* Create and stage offer letters and employment contracts for signature
* Onboard new hires and guide them through the onboarding process
* Order equipment and supplies for team members
* Assist recruiters and managers with writing accurate and effective job descriptions
* Suggest and implement improvements to People Operations policies, processes and procedures
* Provide assistance to the People Operations team with miscellaneous support tasks


## Requirements

* Minimum of one year experience providing administrative support for a Human Resources or People Operations team, preferably in a startup software or technology company
* Proven ability to multitask and prioritize workload under the pressure of deadlines and in a fast pace environment
* Excellent communication and interpersonal skills
* Innovative and creative, always looking to optimize processes and workflow
* Exceptional attention to detail and accuracy
* Excellent computer skills with an ability to adapt to new and complex systems
* Prior experience using an applicant tracking system, Lever experience is a plus
* Willingness to learn and use software tools including Git and GitLab
* Organized, efficient, and proactive with a keen sense of urgency
* Ability to recognize and appropriately handle highly sensitive and confidential information
* Ability to work in alignment with Mountain and Pacific Standard Time
* Experience working remotely is a plus
* You share our [values](/handbook/values), and work in accordance with those values.
- Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).


<%= partial "includes/apply_and_about" %> 