---
layout: job_page
title: "Services Support Manager"
---

As the Services Support Manager, you will be responsible for making sure that GitLab.com customers and users receive an excellent support experience. GitLab.com is a product at scale. You’ll be hiring a global support team to support a Million+ user product with customers all over the world. While doing this you’ll be working closely with Support Engineers, GitLab.com Production, and Product teams to make sure we are listening to our customers and fixing problems faster and even before they become problems. A desire to build efficient process while maintaining a friendly and helpful customer tone is essential. If you are excited about support and want to work in a team that values collaboration and results, this is the place for you.

## Responsibilites

* Grow and manage the team of Service Support Agents by actively seeking and hiring globally distributed talent.
* Conduct weekly 1:1's with your team
* Develop onboarding and training process for new Service Support Agents.
* Fully capable and excited to step into the role of a [Support Engineer](https://about.gitlab.com/roles/support-engineer/) when needed.
* Develop and implement data-driven tactics to deliver on the strategic goals for Support, as set out on the overall team's [strategy](https://about.gitlab.com/strategy/) page as well as outlined in the [direction for Support](https://about.gitlab.com/handbook/support/#support-direction).
* Develop and use analytics to measure and improve the Services Support team
* Provide mentorship as needed to improve performance and enjoyment.
* Construct and monitor metrics to maintain customer and user SLA's
* Coordinate via GitLab Issues with other teams to drive GitLab.com feature development.

## Requirements

* 3 years or more experience in Managing people
* Experience with Zendesk or a comparable ticketing system
* Above average knowledge of SaaS Architecture and supporting such infrastructure
* Experience with ELK logging infrastructure
* Experience supporting and advocating for a Million+ User base on a SaaS product.
* Experience with debugging Modern MVC Applications and git
* Affinity for (and experience with) providing customer support
* Excellent spoken and written English
* You share our [values](https://about.gitlab.com/handbook/values/), and work in accordance with those values
* [A technical interview](https://about.gitlab.com/handbook/hiring/interviewing/technical/) is part of the hiring process for this position.
* A customer scenario interview is part of the hiring process for this position.
* Successful completion of a [background check](https://about.gitlab.com/handbook/people-operations/code-of-conduct/#background-checks).

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](https://about.gitlab.com/team/).

* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 30 minute [screening call](https://about.gitlab.com/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a 90 minute technical interview with customer scenarios with a Support Engineer
* Candidates will then be invited to schedule a 45 minute interview with our Support Manager
* Candidates will then be invited to schedule an additional 45 minute interview with the VP of Engineering
* Finally, candidates may be asked to interview with the CEO
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](https://about.gitlab.com/handbook/hiring/).


<%= partial "includes/apply_and_about" %>
